<!DOCTYPE html>
<html>
<head>
	<title>Inteligência artificial - Predador/Presa</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<script src="../js/jquery.min.js"></script>
	<script src="../js/popper.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/mapa.js"></script>
	<script src="../js/log.js"></script>
	<script src="../js/ambiente.js"></script>
	<script type="text/javascript">
		iniciarEventSource();
	</script>
</head>
<body>
	<div class="container" style="padding: 0; margin: 0;">
		<div class="row">
			<div class="col-sm">
				<div id="log-predadores"></div>
				<div id="log-presas"></div>
				<div id="log-presas-mortas"></div>
			</div>
			<div class="">
				<div id="servidor-morto" class="alert alert-danger msgs" role="alert" style="display: none;">
					O servidor morreu!
				</div>
				<div id="limite-iteracoes" class="alert alert-warning msgs" role="alert" style="display: none;">
					Limite de 5000 iterações atingido!
				</div>
				<div id="presas-capturadas" class="alert alert-info msgs" role="alert" style="display: none;">
					Todas presas foram capturadas
				</div>
				<div id="mapa"></div>
			</div>
		</div>
	</div>
</body>
</html>
