<!DOCTYPE html>
<html>
<head>
	<title>Inteligência artificial - Predador/Presa</title>
	<style type="text/css">
		table td {
			border: 1px solid black;
			width: 16px;
			height: 16px;
		}
	</style>
	<script type="text/javascript">
		function setMapa(ambiente) {
			var ambiente = JSON.parse(ambiente);

			if (ambiente.Terminou) {
				document.getElementById("mapa").innerHTML += "<p>Limite de 5000 iterações atingido.</p>";
			}

			var mapa = ambiente.Mapa;
		    var tamanhoMapa = ambiente.TamanhoMapa;
			var table = "<table>";
			for (i = 0; i < tamanhoMapa; i++) {
				table += "<tr>";
				for (j = 0; j < tamanhoMapa; j++) {
					var imgName = "";
					switch(mapa[i][j]) {
						case 1:
							imgName = "predator.jpg";
							break;
						case 2:
							imgName = "homer.jpg";
							break;
					}

					var img = imgName != "" ? "<img src=\"../images/" + imgName + "\">" : "";
					table += "<td>" + img + "</td>";
				}
				table += "</tr>";
			}

			document.getElementById("mapa").innerHTML = table;
		}

	    var source = new EventSource('/events/');

	    source.onmessage = function(e) {
	    	setMapa(e.data);
	    };

		source.onerror = function(e){
			document.getElementById("mapa").innerHTML = "<p>Servidor morreu!</p>";
		};
	</script>
</head>
<body>
	<div id="mapa"></div>
</body>
</html>
